# compiled output
*/dist
*/node_modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env variables
.env*
!.env.example
# firebase config
firebase.config.json

# cloud service account
service.json

# xlsx files
*.xlsx

# scripts json files
_scripts/**/*.json

*.csv

_scripts/*.sql

apiSamples
playground.ts

# coverage
*.gcno
*.gcda
*.gcov

knexfile.js
_knexfile.js

*.pdf